@addTagHelper *, ExploreCalifornia
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome to Explore California</title>
<meta name="description" content="A lynda.com example of HTML5 and CSS3">
<meta name="keywords" content="html5, css3, lynda, local storage, canvas, forms, semantics, web apps">
<!--make sure mobile devices display the page at the proper scale	-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="/css/main.css" rel="stylesheet" type="text/css" media="screen, projection">

<script src="~/scripts/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/site.js"></script>

</head>
<body id="home" class="no-js">
<div id="wrapper">
  <header id="mainHeader"> <a href="/" title="home" class="logo">



   <!-- I need this div because IE is an affront to mankind-->
    <div>
    <h1>Explore California</h1>
    </div>
    </a>    
    @Html.Partial("_MainMenu")
  </header>
  <section id="actionCall">
      @if(IsSectionDefined("header"))
      {
            @RenderSection("header", false)
      }
      else
      {
            <h1>Explore our world your way</h1>
      }
  </section>
  <div id="contentWrapper">
  <section id="mainContent">
      @RenderBody()
  </section>
    <aside id="secondaryContent">
        <div id="specials" class="callOut">
            <vc:monthly-specials></vc:monthly-specials>          
        </div>
        <div id="trivia" class="callOut">
            <vc:trivia-facts></vc:trivia-facts>
        </div>
    </aside>
  </div>
  @Html.Partial("_SiteFooter")
</div>



</body>
</html>
