@section header 
{
    <h1>About</h1>
}
    <article id="mainArticle">
        <h1>About this project</h1>
        <p>This is a demo site to display basic skills with .NET ASP Core MVC Websites.</p>
        <p>This was <strong>NOT</strong> a full functional website as many pages are missing. Focus was placed on converting existing pages.</p>
        <p>Below is a list of changes made to this site:</p>
        <center><strong>Major Skills</strong></center>
        <ul>
            <li>.Net ASP Core, MVC</li>
            <li>Entities, Bootstrap, JQuery</li>
            <li>C#</li>
            <li>HTML, CSS, Javascript</li>
            <li>SQL</li>
        </ul>
        <center><strong>Minor Skills</strong></center>
        <ul>
            <li>Partial Views, View Components</li>
            <li>Lambda</li>
            <li>MVC Editor Templates</li>
        </ul>
        <p>
            The LinkedIn learning lesson this is from can be found <a href="https://www.linkedin.com/learning/asp-dot-net-core-razor-pages-14933051/">here.</a>
            <br />
            I took this as a refresher course, it only converted the Blogging portion. After completing the tutorial I converted the rest of the site from HTML to MVC.
        </p>
    </article>
