@section header 
{
    <h1>Resources</h1>
}
<article id="mainArticle">
    <h1>Need help planning?</h1>
    <img src="/images/looking.jpg" alt="Plan your tour" class="articleImage" />
    <div class="multiCol">
        <p>
            If you have questions about an upcoming trip, you've come to the right place! Here you'll find <a href="resources/faq.htm">FAQ</a>'s for each of our tour packages, answers to general tour questions, and some <a href="resources/links.htm">tour information</a> that can help you plan your trips. You'll also find our <a href="resources/legal.htm">privacy</a> and legal mumbo-jumbo that helps explain the <a href="explorers/join.htm">terms</a> of our site, and our tours. If you have any additional questions, feel free to <a href="contact.htm">contact</a> us.<br />
        </p>
        <h2>
            General Tour Information<br />
        </h2>
        <h3>
            Customer notifications<br />
        </h3>
        <p>When you book a tour with Explore California, you should receive two notifications via email. The first will be a <strong>tour confirmation</strong>, which states that your tour is booked, gives you the dates of your tour, and lists all amenities included in your package. The second notification should arrive two weeks prior to the start of your tour. This will be a <strong>reminder notification</strong> and will contain your tour dates and current tour conditions, if applicable. <em>If you do not receive a confirmation within 24 hours, or the reminder notification two weeks out, contact us immediately</em>. We'll make sure there are no problems in the system and confirm your tour.</p>
        <h3>Tour vouchers</h3>
        <p>Some tour packages include tour vouchers. These tour vouchers allow you to participate in optional activities during a tour and are usually scheduled for downtime or as an optional choice to replace the day's featured activity. The vouchers are only good during the tour and have no cash value, and cannot be redeemed if the tour is not taken. The tour vouchers are negotiated with 3rd party vendors. Although Explore California monitors these vendors closely, we cannot guarantee that scheduled activities will take place.</p>
        <h3>Trip planning</h3>
        <p>After registration, you will be sent a PDF trip planning document specific to your tour. In the Trip Planner we offer packing advice, places of interest along the tour route, a historical and environmental overview of the tour, a list of any required equipment for the tour that is <em>not</em> provided by Explore California, and additional resources for researching the surrounding area and points of interest included in your tour. Additional information about specific tours can be found in our FAQ section.</p>
    </div>
    <h3>Tour checklist</h3>
    <p>As you prepare for your tour, we want to make sure that you have everything you need to fully enjoy your time in California. Having everything in place when you arrive makes it easy to sit back and enjoy all that your tour has to offer. For more information on traveling to California, go to <a href="http://www.visitcalifornia.com" target="_blank">Visit California.com</a>. With that in mind, we've prepared a small checklist to help you make sure you're ready to go!</p>
    <ul>
        <li>Have you arranged for your mail/paper deliver?</li>
        <li>Are friends/family aware of your itinerary?</li>
        <li>Do you have the tickets, vouchers, or trail passes provided by Explore California?</li>
        <li>Have you printed out your tour confirmation?</li>
        <li>Read your confirmation email carefully; is there any required equipment for your tour that is <em>not</em> provided by Explore California?</li>
        <li>
            Is your trip an outdoor adventure? If so we recommend the following:
            <ul>
                <li>Comfortable hiking shoes</li>
                <li>Hat</li>
                <li>Wet/dry bag to protect valuables</li>
                <li>Comfortable backpack</li>
                <li>Stainless steel water bottle</li>
                <li>Multi-purpose tool</li>
                <li>Pack no more than one additional day of clothing</li>
                <li>Insect repellent</li>
                <li>Sunglasses</li>
                <li>Sunscreen</li>
            </ul>
        </li>
        <li>Bring comfortable shoes. (I know, we shouldn't have to say that, but you'd be amazed)</li>
        <li>No guitars are allowed in campsites</li>
        <li>No firearms or other weapons are allowed on tours</li>
        <li>Leave expensive jewelry at home</li>
        <li>We recommend packing a small first aid kit</li>
    </ul>
</article>
