@section header 
{
	<h1>The Explorers</h1>
}
<article id="mainArticle">
	<h1>Come make a few friends</h1>
	<img src="/images/bikes.jpg" alt="Come join us!" class="articleImage" />
	<div class="multiCol">
		<p>The Explorers are a community of people who love to travel, love California, and want to share their journeys and experiences with others. Joining is free, so if you haven't signed up yet, <a href="explorers/join.htm">do so now!</a></p>
		<p>Joining up will make you eligible for discounts, extra tour goodies, exclusive side excursions, and other super-secret fun stuff! It's also a great way of making friends. We have Explorers-only gatherings where you can meet, mingle, and form friendships with other touring enthusisasts!</p>
		<p>Best of all...joining is absolutely free!</p>
		<h2>So...what can you do?</h2>
		<p>When you sign up, you'll be able to write articles for our <a href="@Url.Action("Index","Blog")">blog</a>, submit your photos in the <a href="explorers/gallery.htm">photo gallery</a>, and you'll receive special members-only deals on all upcoming Explore California tours! You also get priority seating and quick check-in! Heck, if you go on enough tours, we might even have you guide a few for us!</p>
		<p>If you're going to one of our overnight tours, you'll receive a special hospitality gift when you check into your hotel. We also make sure that you're always booked for late checkout. How's that for cool?</p>
		<p>You'll also want to check out our monthly <a href="explorers/_video/EC_podcast_full version.mov">video podcast</a>. It includes in-depth looks at the places you can visit on Explore California tours, tour showcases, and occasionally features surprise guests. If our cameras catch you on an Explore California tour, you could be a part of it too!</p>
		<h2>One more thing...</h2>
		<p>Oh yeah, one more thing... once you join you'll receive our super-secret decoder ring (no kidding)! On many of our tours, your decoder ring can be used to unlock cool new trails or Explore California goodie packs!</p>
	</div>
</article>